{% extends "base.html.twig" %}

{% block title %}Mot de passe modifié{% endblock %}

{% block body %}
    <div class="d-flex flex-column h-100 w-100 justify-content-center align-items-center">
        <h1>Mot de passe modifié avec succès !</h1>
        <p class="text-center">
            Votre mot de passe a été modifié avec succès.<br>
            <a class="link-primary" href="{{ path("app_profile") }}">Revenir vers la page de mon profil</a>.
        </p>
    </div>
{% endblock %}
