{% extends "base.html.twig" %}

{% block title %}Lien expiré{% endblock %}

{% block body %}
    <div class="d-flex flex-column h-100 w-100 justify-content-center align-items-center">
        <h1>Le lien est expiré !</h1>
        <p>
            Le lien est expiré, veuillez réaliser à nouveau la procédure de récupération du mot de passe :
            <a class="link-primary" href="{{ path("app_auth_forgotten_password") }}">Mot de passe perdu ?</a>.
        </p>
    </div>
{% endblock %}
