{% extends "base.html.twig" %}

{% block title %}Mot de passe perdu{% endblock %}

{% block body %}
    <div class="d-flex flex-column h-100 w-100 justify-content-center align-items-center">
        <h1>Email envoyé !</h1>
        <p>
            Un lien permettant de réinitialiser votre mot de passe a été envoyé à l'adresse email : &laquo; {{ email }} &raquo;.
        </p>
    </div>
{% endblock %}
