{% extends "base.html.twig" %}

{% block title %}Inscription réussi{% endblock %}

{% block body %}
    <div class="d-flex flex-column h-100 w-100 justify-content-center align-items-center">
        <h1>Votre demande d'inscription a réussi !</h1>
        <p class="text-center">
            Un email contenant un lien d'activation vous a été envoyé à l'adresse email que vous avez renseigné.
        </p>
    </div>
{% endblock %}
