{% extends "base.html.twig" %}

{% block title %}Nouveau lien envoyé{% endblock %}

{% block body %}
    <div class="d-flex flex-column h-100 w-100 justify-content-center align-items-center">
        <h1>Nouveau lien envoyé !</h1>
        <p>
            Un nouveau lien permettant de valider votre adresse email a été envoyé à l'adresse email que vous avez
            renseigné.
        </p>
    </div>
{% endblock %}
