{% extends "base.html.twig" %}

{% block title %}Validation de votre email echouée{% endblock %}

{% block body %}
    <div class="d-flex flex-column h-100 w-100 justify-content-center align-items-center">
        <h1>La validation de votre email a échouée</h1>
        <p>
            Le lien permettant de valider votre adresse email est arrivé à expiration. Vous allez recevoir un
            nouvel email avec un nouveau lien de validation. Veuillez réaliser à nouveau l'opération de validaiton.
        </p>
    </div>
{% endblock %}
