<button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#modalUsers"></button>

<div class="modal modal-lg fade" id="modalUsers" tabindex="-1" data-entity="user" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalUsersLabel">Infos Utilisateur</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="notification d-flex flex-row justify-content-center w-100">

                </div>
                <div class="d-flex flex-column gap-3">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-12 col-sm-4 col-lg-6 text-center text-sm-end">Type de compte : </div>
                        <div class="col-12 col-sm-8 col-lg-6 text-center text-sm-start">
                            <span class="badge badge-pill bg-secondary p-2" data-col="col-role"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-4 col-lg-6 text-center text-sm-end">Nom : </div>
                        <div data-col="col-lastname" class="col-12 col-sm-8 col-lg-6 text-center text-sm-start"></div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-4 col-lg-6 text-center text-sm-end">Prénom : </div>
                        <div data-col="col-firstname" class="col-12 col-sm-8 col-lg-6 text-center text-sm-start"></div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-4 col-lg-6 text-center text-sm-end">Pseudo : </div>
                        <div data-col="col-pseudo" class="col-12 col-sm-8 col-lg-6 text-center text-sm-start"></div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-4 col-lg-6 text-center text-sm-end">Email : </div>
                        <div data-col="col-email" class="col-12 col-sm-8 col-lg-6 text-center text-sm-start"></div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-4 col-lg-6 text-center text-sm-end">Status du compte : </div>
                        <div class="col-12 col-sm-8 col-lg-6 text-center text-sm-start">
                            <span class="badge badge-pill bg-warning text-dark" data-col="col-status"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-4 col-lg-6 text-center text-sm-end">Nombre de posts : </div>
                        <div data-col="col-countPosts" class="col-12 col-sm-8 col-lg-6 text-center text-sm-start"></div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-4 col-lg-6 text-center text-sm-end">Nombre de comments : </div>
                        <div data-col="col-countComments" class="col-12 col-sm-8 col-lg-6 text-center text-sm-start"></div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-4 col-lg-6 text-center text-sm-end">Créé le : </div>
                        <div data-col="col-createdAt" class="col-12 col-sm-8 col-lg-6 text-center text-sm-start"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex flex-column flex-sm-row align-items-center gap-2 justify-content-center justify-content-sm-end w-100">
                    <button
                            type="button"
                            class="btn btn-sm btn-dark"
                            data-api-url="/admin/user/__ID__/toggle-status"
                            data-action="update-status"
                    >
                        Modifier le statut
                    </button>
                    <button
                            type="button"
                            class="btn btn-sm btn-dark"
                            data-api-url="/admin/user/__ID__/toggle-role"
                            data-action="update-role"
                    >
                        Modifier le role
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
