<table class="d-none table table-hover m-0">
    <thead class="text-center table-dark w-100 sticky-top">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Auteur</th>
        <th scope="col">Content</th>
        <th scope="col">Statut</th>
        <th class="d-none d-sm-table-cell" scope="col">Validé/Refusé le</th>
        <th scope="col">Valideur</th>
        <th class="d-none d-lg-table-cell" scope="col">Titre du Post</th>
        <th class="d-none d-lg-table-cell" scope="col">Créé le</th>
        <th class="d-none d-lg-table-cell" scope="col">Modifié le</th>
    </tr>
    </thead>
    <tbody class="text-center table-group-divider">
    </tbody>
</table>
