<div id="actionsContainer" class="flex p-2 bg-white sticky-top">
    <button class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#modalPostForm">Ajouter un post</button>
</div>
<table class="d-none table table-hover m-0">
    <thead class="text-center table-dark w-100 sticky-top">
        <tr class="align-items-center">
            <th scope="col">#</th>
            <th scope="col">Auteur</th>
            <th scope="col">Titre</th>
            <th class="d-none d-xxl-table-cell" scope="col">Chapo</th>
            <th class="d-none d-xxl-table-cell" scope="col">Content</th>
            <th class="d-none d-lg-table-cell" scope="col">Publié</th>
            <th class="d-none d-lg-table-cell" scope="col">A l'affiche</th>
            <th class="d-none d-sm-table-cell" scope="col">NB Com.</th>
            <th class="d-none d-sm-table-cell" scope="col">Créé le</th>
            <th class="d-none d-sm-table-cell" scope="col">Modifié le</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody class="text-center table-group-divider">
    </tbody>
</table>
