<footer>
    <ul>
        {% if app.user and app.user.role == "ROLE_ADMIN" %}
            <li>
                <a class="link-light" href="#">Panneau d'administration</a>
            </li>
            <hr class="bg-light w-25 m-2">
        {% endif %}
        <li>
            &copy;2023 Mehdi Haddou | OC - DAPS - P5
        </li>
    </ul>
</footer>
